{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="login-wrapper container align-top h-100">
        <form method="post" class="card login-form mx-auto p-2">

            <h1 class="h3 font-weight-normal mt-1 mb-1 mr-0 ml-0">Please sign in</h1>

            {% if error %}
                <span class="invalid-feedback d-block">
                    <span class="d-block">
                        <span class="form-error-icon badge badge-danger text-uppercase">Error</span>
                        <span class="form-error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                    </span>
                </span>
            {% endif %}

            <label for="inputName" class="sr-only">Name</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputName"
                   class="form-control form-control-sm mt-3 mb-2 mr-0 ml-0"
                   placeholder="Name" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword"
                   class="form-control form-control-sm mt-2 mb-3 mr-0 ml-0"
                   placeholder="Password"
                   required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <div class="d-flex">
                <button class="btn btn-sm btn-outline-success mt-0" type="submit">
                    Sign in
                </button>
                <a href="{{ path('user_registration') }}" class="btn btn-sm btn-link ml-3">Registration</a>
            </div>
        </form>
    </div>
{% endblock %}
