{% extends 'base.html.twig' %}

{% block title %}Registration!{% endblock %}

{% block body %}
    <div class="register-wrapper container align-top h-100">

        {{ form_start(form, {'attr': {'class': 'card login-form mx-auto p-2'}}) }}

        <h1 class="h3 font-weight-normal mt-1 mb-1 mr-0 ml-0">Register</h1>

        {{ form_row(form.username, {'attr': {'class': 'form-control form-control-sm mt-3 mb-2 mr-0 ml-0'}}) }}
        {% if errors %}
            {% for error in errors %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endfor %}
        {% endif %}
        {{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control form-control-sm mt-2 mb-2 mr-0 ml-0'}}) }}
        {{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control form-control-sm mt-2 mb-3 mr-0 ml-0'}}) }}

        <div class="d-flex">
            <button type="submit" class="btn btn-sm btn-outline-success">Save</button>

            <a href="{{ path('user_login') }}" class="btn btn-sm btn-link ml-3">Log in</a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
