{% extends 'base.html.twig' %}

{% block title %}Twitter!{% endblock %}


{% block body %}
    <main class="container">

        {% if app.user.media %}
            <img src="{{ asset('uploads/images/' ~ app.user.media.image)|imagine_filter('avatar_thumbnail') }}"
                 class="img-thumbnail m-3"/>
        {% endif %}

        {% if app.user %}
            <a href="{{ path('user_logout') }}" class="btn btn-sm btn-outline-success m-3">Log out</a>
        {% else %}
            <a href="{{ path('user_login') }}" class="btn btn-sm btn-outline-success m-3">Log in</a>
        {% endif %}

        {# Favorite list #}
        <div class="card m-3">
            <div id="accordion">
                <div class="card">
                    <h5 class="card-header alert alert-info p-0 m-0" id="headingOne">
                        <button class="btn btn-link alert-link" id="showFavoriteListButton" data-toggle="collapse"
                                data-target="#favoriteListBody" aria-expanded="true"
                                aria-controls="favoriteListBody">
                            Favorites
                        </button>
                    </h5>

                    <div id="favoriteListBody" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">

                    </div>
                </div>
            </div>
        </div>

        {# Add new tweet #}
        <div class="card m-3">
            {{ render(controller('App\\Controller\\TweetController::new')) }}
        </div>

        {#<div class="tweet-edit-body">#}
        {#{{ render(controller('App\\Controller\\TweetController::edit')) }}#}
        {#</div>#}

        <h3 class="m-3">My tweets: </h3>

        <div id="my-tweets-wrapper">

            {% for my_tweet in my_tweets %}
                <div class="card m-3 p-1 tweet-wrapper" data-tweet-id="{{ my_tweet.id }}">
                    {{ include('includes/my_tweet.html.twig', {'tweet': my_tweet}) }}
                </div>
            {% else %}
                You have no tweets yet.
            {% endfor %}

        </div>
        <div id="other-user-tweets-wrapper">

            <h3 class="m-3">All tweets: </h3>
            {% for other_user_tweet in other_users_tweets %}
                {{ include('includes/other_user_tweet.html.twig', {'tweet': other_user_tweet}) }}
            {% else %}
                No other tweets yet.
            {% endfor %}
        </div>
    </main>
{% endblock %}
