{{ form_start(form, {'attr': {'id': 'newTweetForm', 'class': 'form-inline'}}) }}
    {{ form_widget(form.name, {'attr': {'class': 'form-control-sm mt-1 mb-1 mr-2'}}) }}
    {{ form_widget(form.save, {'attr': {'class': 'btn-sm btn btn-outline-success mt-1 mb-1'}}) }}
{{ form_end(form) }}
