{{ form_start(form, {'attr': {'id': 'editTweetForm', 'class': ''}}) }}
    {{ form_widget(form.name, {'attr': {'class': 'form-control-sm mt-1 mb-1 mr-2'}}) }}
<div class='d-inline-flex'>
    {{ form_widget(form.save, {'attr': {'class': 'edited_tweet_save btn-sm btn btn-outline-success mt-1 mb-1'}}) }}
</div>
{{ form_end(form) }}
<div class='d-inline-flex'>
    <button id='close_editing_tweet' class='btn-sm btn btn-outline-danger mt-1 mb-1 mr-0 ml-0 btn'>Close</button>
</div>
