{% block body %}
    <div id="accordion">
        <div class="card">
            <h5 class="card-header alert alert-info p-0 m-0" id="headingOne">
                <button class="btn btn-link alert-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                    Create new Tweet
                </button>
            </h5>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body p-2">
                    {{ include('tweet/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}