{% block tweet %}
    <p class='tweet-content'>{{ tweet.name }}</p>

    <div class="d-flex">
        <button class='edit-tweet-button btn btn-sm btn-outline-info m-1'>Edit</button>

        {{ include('tweet/delete.html.twig', {'user': tweet.user}) }}

        <span class="mt-1 mb-1 ml-auto mr-1">{{ tweet.user.username }}</span>
    </div>
{% endblock %}
