{% block other_user_tweet %}
    <div class="card m-3 p-1">
        <p>{{ tweet.name }}</p>
        <div class="d-flex flex-wrap">

            {# Follow user #}
            <div class="follow-user-wrapper">
                {{ include('buttons/follow_user.html.twig', {'user': tweet.user}) }}
            </div>

            {# Like tweet #}
            <div class="like-tweet-wrapper">
                {{ include('buttons/like_tweet.html.twig', {'tweet': tweet}) }}
            </div>

            {# Favorite tweet #}
            <div class="favorite-tweet-wrapper">
                {{ include('buttons/favorite_tweet.html.twig', {'tweet': tweet}) }}
            </div>

            {# Favorite user #}
            <div class="favorite-user-wrapper">
                {{ include('buttons/favorite_user.html.twig', {'user': tweet.user}) }}
            </div>

        </div>
    </div>
{% endblock %}
