{% block favorite_user %}
    <button
        data-favorite-user-id="{{ user.id }}"
        class='favorite-user-button btn btn-sm
        {{ favorites_service.isFavoriteUser(app.user, user)?"btn-info": "btn-outline-info" }}
        m-1'>
        <i class="fa fa-star"></i> user
    </button>
{% endblock %}
