{% block favorite_tweet %}
    <button
            data-tweet-id="{{ tweet.id }}"
            class='favorite-tweet-button btn btn-sm
        {{ app.user.favoriteTweets.contains(tweet)?"btn-info": "btn-outline-info" }}
        m-1'>
        <i class="fa fa-star"></i> tweet
    </button>
{% endblock %}
