{% block follow_user %}
    <button
            data-user-id="{{ user.id }}"
            class='follow-user-button btn btn-sm
        {{ app.user.following.contains(user)? "btn-info": "btn-outline-info" }}
        m-1'>
        {{ app.user.following.contains(user)? "Unfollow ": "Follow " }}
        {{ user.username }}
    </button>
{% endblock %}
