{% block like_tweet %}
    <button
            data-tweet-id="{{ tweet.id }}"
            class='like-tweet-button btn btn-sm
        {{ app.user.likedTweets.contains(tweet)?"btn-danger": "btn-outline-danger" }}
        m-1'>
        <i class="fa fa-heart"></i> tweet
    </button>
{% endblock %}
