{% block favorites %}
    {% if favorite_tweets|length > 0 %}
        <h5 class="m-3">Tweets: </h5>

        {% for favorite_tweet in favorite_tweets %}
            <div class="card m-3 p-1">
                <div>
                    <strong>{{ favorite_tweet.user.username }}</strong>
                    <p class="m-0">{{ favorite_tweet.name }}</p>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% if favorite_users|length > 0 %}
        <h5 class="m-3">Users: </h5>

        {% for favorite_user in favorite_users %}
            {{ include('includes/other_user.html.twig', {'user': favorite_user}) }}
        {% endfor %}
    {% endif %}
{% endblock %}
